<link rel="stylesheet"  href="/styles/style-mainmenu.css">
<footer id="footer" class="footerBoxStyle">
        <div class="mainFooterTop">
              <div class="leftSide">
                  <img src="/images/finalfinalinvert.png">
                  <p1 style = "margin-top: 20px;  margin-left: 40px;  font-size: 14px;">The crowdsourced wiki for the <a href="#" class="redHref">Black Souls</a> series. May or may not be managed by <a href="#" class="blueHref">Mary Sue</a> secretly. <span style="color:orange; background-color:transparent;">But don't tell anyone...</span></p>
                  
              </div>  
              <nav class="navbarFooter">
                    <ul>
                      <li class="footer-navbar-ul-style hoverMouse">&nbsp;&nbsp;Privat Policy</li>
                      <li class="footer-navbar-ul-style hoverMouse">&nbsp;&nbsp;About Black Soul wiki&nbsp;&nbsp;</li>
                      <li class="footer-navbar-ul-style hoverMouse">&nbsp;&nbsp;Disclaimers</li>
                      <li class="footer-navbar-ul-style hoverMouse">&nbsp;&nbsp;Terms of Use</li>
                    </ul>
              </nav>
                    
            </div>
             <hr>
            <div>
               <ul id="listSpriteFooter">
                    <li><img src="/images/Character2dModel/bunny.png" alt="" /></li>
                    <li><img src="/images/Character2dModel/AliceSprite.png" alt="" class="Alice" /></li>
                    <li><img src="/images/Character2dModel/LeafSprite.png" alt="" /></li>
                    <li><img src="/images/Character2dModel/PrickettSprite.png" alt="" /></li>
                    <li><img src="/images/Character2dModel/RedhoodSprite.png" alt="" class="Redhood" /></li>
                </ul>
            </div>
</footer>
