.text-container-right{
	display: flex;
}
.text-main-right-style{
	width: 300px;
	height: fit-content;
}
.flex-text{

	display: flex;
    width: 100%; 
    height: fit-content;
    gap: 5px; 
}
.flex-text p1{
	 flex: 1 1 auto; 
    font-size: 16px;
    cursor: pointer;	
    text-align: left;
    font-weight: 300;

}
.name-img-cont{
	display:grid;
	h{	
		font-size: 20px;
		color: white;
		font-weight: bold;
		padding: 5px;
	}
}
.border-list li{
	padding-left: 10px;
	border-left: solid 1px rgb(255 255 255 / 5%);
}
.button-navigation{
	padding-bottom: 10px;
	margin-left:30px;
	button{
		border:  solid 1px darkred !important;
		background-color: black;
		
		width: 100px;
		height: 40px;
		text-align: center;
		border-radius: 10px;
	}
	button:hover{
	background-color: hsl(220deg 13.79% 19.88%);
	border-radius: 10px;	
	}
	a{
		color: white;
		width: 100%;
	}
	a:hover{
		text-decoration: none;
	}

}
.custom-list {
	padding-left: 0;
    list-style: none;
    font-family: Roboto Flex, sans-serif;
    color:rgb(121, 0, 221);
    padding-bottom:0px;
    margin-top: 0;
    margin-bottom:0;
    li{
    	padding: 10px;
    }
    b{
    	color: hsl(220,35%,65%);
    }
}

.custom-list li::before {
    content: "•"; 
    color: darkred;  
    font-size: 1em;
    margin-right: 8px;	
}
p1{
	padding: 5px auto; 
}
.sinopsis-info{
	width: fit-content;
	display: flex;
	justify-items: center;
	button{
		margin:30px auto;
		width: 40px;
		height: 40px;

	}
}
.sinopsis-hidden{

}
section[data-sinopsis = 'visible']{
	display: block;
}
section[data-sinopsis = 'hidden']{
	display: none;
}

