.h1-content{
	text-align: left;
	left: 0;
	width: fit-content;
	margin-left: 300px;
	padding-bottom: 20px;
}
.left-created-acount{
	display: grid;
	grid-template-columns: 0;
	justify-content: left;
	width: 800px;
	text-align: center;
}
main{
	display: flex;
	padding: 100px;
	
	border-radius: 5px;
	transform: translateY(-30px);
}
form{
	padding-bottom:50px	;
	text-align:left;
	label{
		display: block;
		text-align: left;
		color: white;
		min-width:200px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	input{

		height: 30px;
		width: 384px;
		padding: 5px;
		background-color: oklch(16% 0.01 262.29);
		border: solid 0.3px rgb(0, 0, 65);
		color: white;
	}
	p1{
		padding-top: 10px;
		text-align: left;
		min-width: 384px;
	}
}
.button{
	min-width: 384px;
	height: fit-content;
	padding-top:30px;
	button{
		width: 384px;
		background-color: rgb(0, 147, 255);
		border: none;
		height: 30px;
		color: white;
		font-weight: bold;
	}
}
.checkbox{
	display: flex;
	text-align: left;
	padding:0;
	min-width:300px;
}
.checkbox-input{
	padding-right: 10px;
	width: 20px;
	height: 20px;
}
.some-info{
	text-align: center;
}
.login-complited{
	text-align: center;
	padding-bottom: 250px;
	display: none;
	button{
		width: 100%;
		font-size: 22px;
		font-weight: bold;
		a{
		color: white;
		text-decoration: none;
		}
	}
}
section[data-login='hidden']{
	display: none;
}
section[data-login='visible']{
	display: block;
}
section[data-login-On='hidden']{
	display: none;
}
section[data-login-On='visible']{
	display: block;
}