html{
	scroll-behavior: smooth;
}
body{
	background-color: #14161e;
	font-family: Roboto Flex;
	max-width: 100vw;
	overflow-x:hidden ;
	margin: 0;
}
#spoiler{
	color: hsl(220,45%,80%);
	text-align: center;
	font-size: 14px;
}
h1 , h3 , h4, h6, h7 , h8{
	display: block;
	color: white;
	font-size: 30px;
	text-align: center;
	font-weight: bold;

}
h7{
	margin-bottom: 35px;
}
.age18red:hover{
	color: red;
}
p1{
	color: hsl(220,35%,65%);
	font-size: 16px;
	display: block;
}
#mainmenu{
	display: block;
	margin: 0 auto;
}
#aliceButton{
	display: block;
	margin: 25px auto;
	background-color:rgb(140 47 181);
	border-radius: 50px;
	color:white;
	width: 100px;
	font-family: monospace;

}
#listSprite1{
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
	justify-content: center	;
}
.listSpriteAndSpoiler{
	display: block;
	margin: 15px auto;
	border-bottom: solid 3px dimgray;	
	border-top: solid 3px dimgray;
}	
.prologueMainmenu{
	display: block;
	border-bottom: solid 3px dimgray;
}
#prologueText{
	margin-bottom: 15px;
	height: 260px;
	font-size: 17px;
	text-align: left;
	padding-right: 70px;
	padding-bottom: 0 ;
	color: rgb(200, 255, 254);
}	
.prologueTextImgDiv{
	height: 250px;
}
a {
	text-decoration: none; 
}
.redHref{
	color: rgb(190, 0, 72);
	font-weight: bold;
}
.blueHref{
	color:rgb(1, 140, 188);
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

.photo-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	gap: 10px;
	justify-items: center;
	margin-top:10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom:4px solid dimgray;
}

.photo-item {
	text-align: center;
	
	img{

	text-align: center;
	width: 125px;
	height: 125px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0); /* Тінь для фото */}
	}
	a >  img {
	text-align: center;
	width: 125px;
	height: 125px;
	
	}
	p {
	font-size: 16px;
	margin-top: 18px;
	color: hsl(220,45%,80%);
	}
}


span{
	margin-bottom: 20px;
	width: 160px;
	height: 160px;
	background-color: rgb(255 255 255 / 5%);
}
main{
	width: 1100px;
	height: fit-content;
	margin: 0 auto;
}
#lastFoto{
	margin-left: 920px;
}
.buttonBS1andBS2 > button{
	color: hsl(220,45%,80%);
	background-color:  transparent;
	border: none;	
	font-size: 14px;
	width: fit-content;
	height: 50px;
	font-weight: bold;
}
.buttonBS1andBS2> button:hover{
	background-color: hsl(220deg 13.79% 19.88%);
	border-bottom: solid 1px blue;
	color: hsl(220,45%,80%);
	

}
.navList{
	margin-bottom: 20px;
	list-style: none;
	font-size: 20px;
	color:hsl(220,45%,80%);
}

.communityInfo{
	height: 340px;
	background-image: url("communityBackground.png");
}
.communityInfo {
	padding-top:15px ;
	font-size: 20px;
	font-family: monospace;
	text-align: center;
	color: hsl(220,45%,80%);
}
.manualHref{
	display: inline-block;
	background-color: transparent;
	width: auto;
	height: auto;
	justify-items: center;
	justify-content: center;
}
.Wiki{
	padding-top: 20px;
	padding-bottom: 60px;
}
hr{
	padding-top: 40px	;
	border: none;
	border-bottom: solid 0.5px rgb(255 255 255 / 5%);
}
.wikiTools{
	display: flex;
	margin: 0 auto;
	text-align: center;
	justify-items: center;
	justify-content: center;
}
.toolsButton{
	width: 40px;
	height: 40px;
	background-color:  transparent;
	border: none;
	text-align: center;
	padding-left:0;
}
.toolsButton:hover{
	background-color: hsl(220deg 13.79% 19.88%);
	border-radius: 10px;
}
.iconTool{
	width: 30px;
	height: 30px;
	margin: 5px;
}

#listToolsWiki{
	list-style: none;
	background-color: transparent;
	width: auto;
	height: 40px;
	display: flex;
	margin: 0px;
	padding: 0;
}
#listToolsWiki > span:hover{
	background-color: hsl(220deg 13.79% 19.88%);
	border-radius: 10px;
}
.button-more-tools-container{
	width: 1100px;
	height: 10px;
	display: grid;
	justify-items: center;

}
.button-more-tools{
	margin-left: 180px;
	width: 300px;
	border-radius: 15px;
	border: solid 0.5px rgb(73, 0, 83);
	height: fit-content;
	background-color: rgb(255 255 255 / 5%);
	backdrop-filter: blur(10px);
	z-index: 1;
	display: none;
}
.more-li-img-style{
	list-style: none;
	ul{
		margin: 0;
	}
	li{
		display: flex;
	}
	p{
	font-size: 14px;
	color: hsl(220,45%,80%) ;
	}
	img{
  margin-top: 10px;
  margin-right: 15px;
	width: 20px;
	height: 20px;
	}
}
div[data-more="hidden"] {
    display: none;
}

div[data-more="visible"] {
    display: block;
}

/////////////////
.list-text{
	font-size: 14px;
	margin-bottom: 20px;
	list-style: none;
	color:hsl(220,45%,80%);
}
