.headerBarStyle{
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background-color: #14161e;
    border-right: solid 0.5px rgb(255 255 255 / 5%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headerToolsImages {
	border-bottom: solid 0.5px rgb(255 255 255 / 5%);
	img{
	margin: 15px;
	width: 30px; 
	height: 30px;}
	button{
		width: inherit;
		background-color: transparent;
		height: inherit;
		border: none;
		margin: 0;
		padding: 0;
	}

}
.top-tools{
	flex-grow: 1;
}
.bottom-tool{
	margin-top: auto;
	margin-bottom: 0;
}
.menu-bar-container{
	position: absolute;
	margin-left: 70px;
	margin-top: 10px;
	width: fit-content;
	padding: 30px;
	padding-right: 50px;
	height: 300px;
	background-color: rgb(0, 0, 0, 0.7);
	border-radius: 15px;
	border: solid 0.5px rgb(63, 28, 48);
	backdrop-filter: blur(10px);
}

section[data-menu="hidden"] {
    display: none;
}

section[data-menu="visible"] {
    display: block;
}

.menu-bar-style{
	display: flex;
	width:inherit;
	height: fit-content;
	border-bottom: solid 0.5px rgb(255 ,255 ,255 ,0.5);
	background-color:transparent;
	img{
		width: 70px; height: 70px; margin: 5px;
	}
}
.menu-li-img-style{
	display: flex;
	justify-items: center;
	justify-content: center;
	list-style: none;
	margin-left: 39px;
	width: 20px;
	height: 20px;
	p{
	text-align: center;
	margin-top: 7px;
	font-size: 14px;
	color: white;
	}
	img{
	width: 20px;
	height: 20px;
	}
}
.ul-flex{
	display: flex;
	width: auto;
	height: 30px;
}
.menu-bar-style-bottom{
	margin-top: 15px;
	margin-left: 0px;
	text-align: left;
	li{
		width: fit-content;
		margin-top: 7px;
		margin-left: 0;
		p{
			padding-left: 10px;
		}	
		img{
			margin-top: 5px;
		}
	}

}
.ul-style{
	list-style: none;

	h{
		font-size: 14px;
		color: white;
	}
}
.setting-tools {
    width: 300px; /* Фіксована ширина */
    background-color: white;
    position: absolute;
    bottom: 0;
    margin-left: 75px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 0.5px darkred;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    h {
    color:  hsl(220,35%,65%);
    font-size: 18px;
    padding: 10px 0;
	}
}
.div-grid {
    display: flex;
    width: 100%; 
    gap: 5px; 
}

.div-grid button {
    flex: 1 1 auto; 
    min-width: fit-content; 
    padding: 10px 15px;
    height: 45px;
    background-color: #14161e;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.div-grid button.active {
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.2);
}

div[data-setting = 'hidden']
{
	display: none;
}
div[data-setting = 'visible']
{
	display: block;
}
.search-container{

}
.search-tools {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255 255 255 / 5%);
    padding: 10px;
    margin-top: 30px;
    width: 300px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: none;
}
.search-input{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	color:hsl(220,45%,80%,0.8);
	outline: none;
}
.input-flex{
	display: flex;
	img{
		padding: 10px;
		width: 20px;
		height: 20px;
	}
}
div[data-search = 'hidden']
{
	display: none;
}
div[data-search = 'visible']
{
	display: block;
}

.search-item {
    padding: 5px;
    cursor: pointer;
}

.user-div{
	position: absolute;
	display: grid;
	width: 200px;
	height: fit-content;
	background-color: rgb(0, 0, 0, 0.7);
	top: 70%;
	margin-left: 70px;
	border-radius: 10px;
	text-align:center;
	hr{
		padding: 0;
	}
	h3{
		font-size: 18px;
		padding: 10px;
		text-align: left;
	}
	p1{
		text-align: left;
		font-size: 14px;
		padding-left: 10px;
		
	}
	button{
		color:hsl(220,45%,80%);
		width: 180px;
		height: 50px;
		margin: auto;
		
		background-color:black;
		border: none;
		border-radius: 10px;
		text-align: center;
	}
	button:hover{
	padding-bottom: 10px;
    background-color: rgba(0, 123, 255, 0.2);
	}
}
div[data-user = 'hidden']
{
	display: none;
}
div[data-user = 'visible']
{
	display: block;
}





/*footer*/
.leftSide > img{
	width: fit-content;
	height: 30px;
	margin-top: 20px;
	margin-left: 40px;
}
.leftSide{
	width: fit-content;
}
.mainFooterTop{
	display: flex;
}
.footerBoxStyle{
	margin: 32px;
	padding:32px;
	background-color: hsl(220, 20%, 6%);
  width: auto;
	height: 300px;
	margin: 0;
	padding-left: 60px ;
  font-family:	sans-serif;

}
.navbarFooter{
	width: fit-content;
	margin:auto;	
	margin-right:50px;

}
.footer-navbar-ul-style  {
	list-style: none;
	font-size: 16px;
	color:hsl(220,45%,80%);
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  padding-bottom: 10px;

}
.hoverMouse:hover{
	transition: all 0.5s ease-out;
	background-color: rgba(255, 255, 255, 0.1); 
  transform: scale(1.1);
  cursor: pointer;
}
.mainFooterBot{
	background-color: hsl(220, 20%, 6%);
	margin: 32px;
	width: 100%;
}
#listSpriteFooter{
	display: flex;
	gap: 10px;
	list-style: none;
}