<nav class="toolsNav" id="template-bar-tools">
        <div class="wikiTools">

         <div > 
          <button class="toolsButton">
              <a href="#" ><img src="../images/toolsIcon/masseg.png" class="iconTool"/></a>
         </button>
        </div> 
        <ul id="listToolsWiki" style="height: 40px;">
          <span id="listToolsWiki">       
            <li><img src="../images/toolsIcon/penLock.png" class="iconTool"/></li> 
            <li style="margin: 10px;"><p1>Viev Source</p1></li> 
          </span> 
          <span id="listToolsWiki">       
            <li><img src="../images/toolsIcon/cloak.png" class="iconTool hoverIcon" data-original = "../images/toolsIcon/cloak.png" data-hover = "../images/toolsIcon/cloak2.png" /></li> 
            <li style="margin: 10px;"><p1>Viev History</p1></li> 
          </span> 
          <span id="listToolsWiki">       
            <li><img src="../images/toolsIcon/discusion.png" class="iconTool"/></li> 
            <li style="margin: 10px;"><p1>Discusion</p1></li> 
          </span> 
        </ul>   
          <div>
            <button class="toolsButton" onclick="toggleMore()">  
               <img src="../images/toolsIcon/more.png"  class="iconTool hoverIcon" data-original="../images/toolsIcon/more.png"data-hover="../images/toolsIcon/more1.png"/> 
            </button>
          </div>
        </div>
        <div class="button-more-tools-container">
            <div class="button-more-tools"   data-more = "hidden" data-more = "visible">
              <div class="more-li-img-style">
                  <ul class="ul-style" style="margin-top:10px;">
                    <li style="color:white;" >More</li>
                    <li><img src="../images/toolsIcon/refresh-icon.png"><p>Purge</p></li>
                  </ul>
              </div>
              <div class="more-li-img-style">
                  <ul class="ul-style">
                    <li style="color:white;">Tools</li>
                    <li class="list-text"><img src="../images/toolsIcon/book-arrow.png"><p>What links here</p></li>
                    <li><img src="../images/toolsIcon/list-pen-icon.png"><p>Relate change</p></li>
                    <li><img src="../images/toolsIcon/print-icon.png"><p>Printable version</p></li>
                    <li><img src="../images/toolsIcon/link-icon.png"><p>Permanent link</p></li>
                    <li><img src="../images/toolsIcon/info-icon.png"><p>Page Indormation</p></li>
                    <li><img src="../images/toolsIcon/masseg.png"><p>Cite this page</p></li>
                    <li><img src="../images/toolsIcon/link-icon.png"><p>Get shortened link</p></li>
              </ul>
              </div>
            </div>
        </div>
</nav>