<div class="search-container">
    <div class="search-tools" data-search = 'hidden' data-search = 'visible'>
        <div class="input-flex">
          <div class="search-icon">
          <img class="iconTools " src="../template/templateFoto/loop.png" alt="Search">
          </div>
          <input class="search-input" placeholder="Введіть пошук...">
          <a href="#" id="random-link" onclick="toggleRandomPageHref()"><img class="hoverMouse" src="../images/toolsIcon/cube-icon.png"></a>

        </div>
        <div class="search-result"></div>
    </div>
</div>

<section class="menu-bar-container" data-menu = "hidden" data-menu= "visible">
        <div class="menu-bar-style">
          <div>
            <img class="iconTools" src="../template/templateFoto/iconwiki.gif"/>
          </div>
              <div>
                <ul class="ul-style" style="display: flex; margin-left:-20px ;">
                  <li class ="menu-li-img-style" style="margin-left:0 ;"><img src="../images/toolsIcon/form-icon.png"/><p>101</p></li>
                  <li class ="menu-li-img-style"><img src="../images/toolsIcon/img-icon.png"><p>1,6k</p> </li>
                  <li class ="menu-li-img-style"><img src="../images/toolsIcon/userIcon.png"><p>1</p></li>
                  <li class ="menu-li-img-style"><img src="../images/toolsIcon/pen-icon.png"><p>5,7k</p></li>
                </ul>
                 <img src="../images/finalfinalinvert.png"
                    style="width: 120px; height: 25px; margin-left: 10px;">
              </div>          
        </div>
        <div class="menu-bar-style-bottom">
            <ul class="ul-style">
              <li><h>Navigation</h></li>
              <li class ="menu-li-img-style"><img src="../template/templateFoto/homeIcon.png"><p><a href="/bswikifan.html">Home page</a></p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/list-pen-icon.png"><p>Recent change</p></li>

              <li class ="menu-li-img-style"><img src="../images/toolsIcon/cube-icon.png">
                  <p><a href="#" id="random-link" onclick="toggleRandomPageHref()">Random page</a></p>
              </li>
              
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/zapyt-icon.png"><p>Help about MediaWiki</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/card-icon.png"><p>Special page</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/upload-icon.png"><p>Upload File</p></li>
            </ul>
        </div>
</section>
<header class="headerBarStyle">
    <section class="top-tools">  
      <div class="headerToolsImages hoverMouse">
        <a href="../bswikifan.html"><img class="iconTools hoverIcon" src="../template/templateFoto/iconwiki.gif" data-original ="../template/templateFoto/iconwiki.gif" data-hover ="../template/templateFoto/homeIcon.png"/> </a>
      </div> 
      <div class="headerToolsImages hoverMouse">  
      <button class="menu-button-header" onclick="toggle('.search-tools', 'data-search')"> 
        <img src="../template/templateFoto/loop.png">
      </button>
      </div> 
      <div class="headerToolsImages hoverMouse" >
        <button class="menu-button-header" onclick="toggle('.menu-bar-container','data-menu')">
            <img class="iconTools hoverIcon" src="../images/toolsIcon/menu-icon.png" data-original = "../images/toolsIcon/menu-icon.png" data-hover ="../images/toolsIcon/menu-icon-2.png">
        </button>
      </div>
     </section> 

     <section class="bottom-tool">
          <div class="headerToolsImages hoverMouse">
            <button class="toolsButton" onclick="toggle('.setting-tools','data-setting')">
            <img src="../images/toolsIcon/settingIcon.png">
            </button>
          </div>
           <div class="headerToolsImages hoverMouse">
            <button class="toolsButton" onclick="toggle('.user-div','data-user')">
            <img src="../images/toolsIcon/userIcon.png">
          </button>
        
          </div>
     </section>    

</header> 
<div class="user-conteiner">
    <div class="user-div" data-user= 'hidden'>
      <h3>User</h3>
      <p1>Your IP adress will be publicly visible if you make</p1>
      <hr>
      <a href="/htmlHrefTitle/login-acount.html"><button>Create acount</button></a>
      <button style="background-color:skyblue; color:black;"><a href="/htmlHrefTitle/login.html">Log in</a></button>
    </div>
    <div class="user-conteiner">
      <div class="user-div2" data-user2 = 'hidden'>
        <h3>Login completed</h3>
        </div>
    </div>
</div>
<div class="setting-tools-contaoner">
  <div class="setting-tools" data-setting= "hidden" data-setting= "visible">
    <h>Text</h>
      <div class="div-grid">
        
        <button>Small</button>
        <button >Standart</button>
        <button>Large</button>
      </div>
      <h>Color</h>
      <div class="div-grid">
        
        <button>Auto</button>
        <button>Light</button>
        <button>Dark</button>
      </div>
        <h>Width</h>
      <div class="div-grid">
      
        <button>Standart</button>
        <button>Wide</button>
        <button>Full</button>
      </div>
       <h>Pure Black mode</h>
      <div class="div-grid">
       
        <button>Off</button>
        <button>On</button>
      </div>
  </div>          
</div>
<script type="text/javascript">
   
</script>