<section class="menu-bar-container" data-menu = "hidden" data-menu= "visible">
        <div class="menu-bar-style">
          <div>
            <img class="iconTools" src="../template/templateFoto/iconwiki.gif"/>
          </div>
              <div>
                <ul class="ul-style" style="display: flex; margin-left:-20px ;">
                  <li class ="menu-li-img-style" style="margin-left:0 ;"><img src="../images/toolsIcon/form-icon.png"/><p>101</p></li>
                  <li class ="menu-li-img-style"><img src="../images/toolsIcon/img-icon.png"><p>1,6k</p> </li>
                  <li class ="menu-li-img-style"><img src="../images/toolsIcon/userIcon.png"><p>1</p></li>
                  <li class ="menu-li-img-style"><img src="../images/toolsIcon/pen-icon.png"><p>5,7k</p></li>
                </ul>
                 <img src="../images/finalfinalinvert.png"
                    style="width: 120px; height: 25px; margin-left: 10px;">
              </div>          
        </div>
        <div class="menu-bar-style-bottom">
            <ul class="ul-style">
              <li><h>Navigation</h></li>
              <li class ="menu-li-img-style"><img src="../template/templateFoto/homeIcon.png"><p>Home page</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/list-pen-icon.png"><p>Recent change</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/cube-icon.png"><p>Random page</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/zapyt-icon.png"><p>Help about MediaWiki</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/card-icon.png"><p>Special page</p></li>
              <li class ="menu-li-img-style"><img src="../images/toolsIcon/upload-icon.png"><p>Upload File</p></li>
            </ul>
        </div>
</section>
<header class="headerBarStyle">
    <section class="top-tools">  
      <div class="headerToolsImages hoverMouse">
        <a href="../bswikifan.html"><img class="iconTools hoverIcon" src="../template/templateFoto/iconwiki.gif" data-original ="../template/templateFoto/iconwiki.gif" data-hover ="../template/templateFoto/homeIcon.png"/> </a>
      </div> 
      <div class="headerToolsImages hoverMouse">    
        <img src="../template/templateFoto/loop.png">
      </div> 
      <div class="headerToolsImages hoverMouse" >
        <button class="menu-button-header" onclick="toggleMenu()">
            <img class="iconTools hoverIcon" src="../images/toolsIcon/menu-icon.png" data-original = "../images/toolsIcon/menu-icon.png" data-hover ="../images/toolsIcon/menu-icon-2.png">
        </button>
      </div>
     </section> 

     <section class="bottom-tool">
          <div class="headerToolsImages hoverMouse">
            <button class="toolsButton" onclick="toggleSetting()">
            <img src="../images/toolsIcon/settingIcon.png">
            </button>
          </div>
           <div class="headerToolsImages hoverMouse">
            <img src="../images/toolsIcon/userIcon.png">
          </div>
     </section>    

</header> 
     <div class="setting-tools-contaoner">
        <div class="setting-tools" data-setting= "hidden" data-setting= "visible">
          <h>Text</h>
            <div class="div-grid">
              
              <button>Small</button>
              <button>Standart</button>
              <button>Large</button>
            </div>
            <h>Color</h>
            <div class="div-grid">
              
              <button>Auto</button>
              <button>Light</button>
              <button>Dark</button>
            </div>
              <h>Width</h>
            <div class="div-grid">
            
              <button>Standart</button>
              <button>Wide</button>
              <button>Full</button>
            </div>
             <h>Pure Black mode</h>
            <div class="div-grid">
             
              <button>Off</button>
              <button>On</button>
            </div>
        </div>          
       
     </div>
