 <div class="photo-gallery" id="foto-gallery">

        <span>  

          <div class="photo-item">
            <img src="images/dialogFoto/Dorothy_Dialogue.png" alt="Фото 1">
            <p>Dorothy</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Leaf_Dialogue.png" alt="Фото 2">
            <p>Leaf</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Goose_Dialogue.png" alt="Фото 3">
            <p>Goouse</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Red_Hood_Dialogue.png" alt="Фото 4">
            <p>Red Hood</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Victoria_Dialogue.png" alt="Фото 5">
            <p>Victtoria</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Elisabeth_Dialogue.png" alt="Фото 6">
            <p>Elisabeth</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Elma.png" alt="Фото 7">
            <p>Elma</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Jeanne_Dialogue.png" alt="Фото 8">
            <p>Jeanne</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Catherine_Dialogue.png" alt="Фото 9">
            <p>Catherine</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Miranda_Dialogue.png" alt="Фото 10">
            <p>Miranda</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Hansel_Dialogue_HD.png" alt="Фото 11">
            <p>Hansel</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Gretel_Dialogue_HD.png" alt="Фото 12">
            <p>Gretel</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Baphomet_Dialogue.png" alt="Фото 13">
            <p>Baphomet</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Alice_Dialogue.png" alt="Фото 14">
            <p>Alice</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Frog_Princess_Dialogue_HD.png" alt="Фото 15">
            <p>Frog Princess</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Snow_White_Dialogue_HD.png" alt="Фото 16">
            <p>Snow White</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Little_Mermaid_Dialogue_HD.png" alt="Фото 17">
            <p>Little Mermaid</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Rapunzel_Dialogue_HD.png" alt="Фото 18">
            <p>Rapunzel</p>
          </div>
        </span>
        <span id="lastFoto">
          <div class="photo-item">
            <img src="images/dialogFoto/Cinderella_Dialogue.png" alt="Фото 19" >
            <p>Cinderella</p>
          </div>
        </span>  
</div> 