 <div class="photo-gallery" id="foto-gallery">

        <span>  

          <div class="photo-item">
            <img src="images/dialogFoto/Node_Dialogue.png" alt="Фото 1">
            <p>Node</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Cheshire_Cat_Dialogue.png" alt="Фото 2">
            <p>Cheshire Cat</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Dodo_Dialogue.png" alt="DODO">
            <p>Dodo</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Red_Hood_Dialogue2.png" alt="Фото 4">
            <p>Red Hood</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Shisha_Dialogue.png" alt="Фото 5">
            <p>Shisha</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Margaret_Dialogue.png" alt="Фото 6">
            <p>Margaret</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Tweedledum_Dialogue.png" alt="Фото 7">
            <p>Tweedledum</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Tweedledee_Dialogue.png" alt="Фото 8">
            <p>Tweedledee</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Hatta_Dialogue.png" alt="Фото 9">
            <p>Hatta</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Dormouse_Dialogue.png" alt="Фото 10">
            <p>Dormouse</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/March_Hare_Dialogue.png" alt="Фото 11">
            <p>March Hare</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Bill_Dialogue.png" alt="Фото 12">
            <p>Bill</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Griffy_Dialogue.png" alt="Фото 13">
            <p>Griffy</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Mock_Turtle_Dialogue.png" alt="Фото 14">
            <p>Mock Turtle</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Chick_Dialogue.png" alt="Фото 15">
            <p>Chick</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Leaf_BS2_Dialogue.png" alt="Фото 16">
            <p>Mary sue</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Prickett_Dialogue.png" alt="Фото 17">
            <p>Prickett</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Victoria_Dialogue.png" alt="Фото 18">
            <p>Victoria</p>
          </div>
        </span>
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Blackwell_Dialogue.png" alt="Фото 19" >
            <p>Blackwell</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Bandersnatch_Dialogue.png" alt="Фото 19" >
            <p>Bandersnatch</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Jubjub_Dialogue.png" alt="Фото 19" >
            <p>Jubjub</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Jabberwock_Dialogue.png" alt="Фото 19" >
            <p>Jabberwock</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Lorina_Dialogue.png" alt="Фото 19" >
            <p>Lorina</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/Wolris_Dialogue.png" alt="Фото 19" >
            <p>Wolris</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Oyster_Dialogue_HD.png" alt="Фото 19" >
            <p>Oyster</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Kuti_Dialogue_HD.png" alt="Фото 19" >
            <p>Kuti</p>
          </div>
        </span> 
         <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Kuti_Dialogue_HD.png" alt="Фото 19" >
            <p>Kuti</p>
          </div>
        </span> 
         <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Mabel_Dialogue_HD.png" alt="Фото 19" >
            <p>Mabel</p>
          </div>
        </span> 
         <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Serpent_God_Dialogue_HD.png" alt="Фото 19" >
            <p>Serpent God</p>
          </div>
        </span> 
         <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Meryphillia_Dialogue_HD.png" alt="Фото 19" >
            <p>Meryphillia</p>
          </div>
        </span> 
         <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Lingeriena_Dialogue_HD.png" alt="Фото 19" >
            <p>Lingeriena</p>
          </div>
        </span> 
         <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Florence_Dialogue_HD.png" alt="Фото 19" >
            <p>Florence</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Gerda_Dialogue_HD.png" alt="Фото 19" >
            <p>Gerda</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Unis_Dialogue_HD.png" alt="Фото 19" >
            <p>Unis</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Leiden_Dialogue_HD.png" alt="Фото 19" >
            <p>Leiden</p>
          </div>
        </span> 
        <span>
          <div class="photo-item">
            <img src="images/dialogFoto/120px-Sho_Dialogue_HD.png" alt="Фото 19" >
            <p>Sho</p>
          </div>
        </span> 
         
</div> 